body {
  font-family: "Proximanova-Regular";
  font-weight: 400;
  margin: 0;
  padding: 10px;
}
h1 {
  font-size: 20px;
  margin-bottom: 0;
  font-family: "Proximanova-SemiBold";
}
p {
  font-size: 14px;
  margin: 5px 0 10px;
  line-height: 1.2;
}
ol {
  margin: 20px 0;
  padding-left: 20px;
}
ol li {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
}
ol > li {
  page-break-inside: avoid;
}
strong {
  font-family: "Proximanova-SemiBold";
  font-weight: 600;
}
.label {
  color: #6d6d6d;
  font-size: 14px;
}
.hide {
  color: #ffffff;
  visibility: hidden;
  position: absolute;
  user-select: none;
  pointer-events: none;
}
.text-right {
  text-align: right !important;
}
.d-inline {
  display: inline !important;
}
.border-bottom {
  padding-bottom: 1px;
  border-bottom: 1px solid #131212;
}
.page-break-inside {
  page-break-inside: avoid;
}
